In [1]:
import pandas as pd

vectorization simplifies operation on the array of data. You don't need to bother about array length or shape, your just mind the operation you want to perform.

pandas has `str` attribute of the Series object which has access to the string

In [2]:
data = ['peter', 'Paul', None, 'Many', 'gUIDO']

In [3]:
names = pd.Series(data)

now you can use only one method which will capitalize you data and it'll ignore missing values :

In [5]:
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Many
4    Guido
dtype: object

###  string methods similar to those of the native Python.

In [7]:
# dir(names.str)

In [8]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam', 'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [10]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [12]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [13]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [14]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

## methods with regular expression

extracting names. finding non splitted group of chars in the beginning of the string :

In [15]:
monte.str.extract('([A-Za-z]+)')

         0
0   Graham
1     John
2    Terry
3     Eric
4    Terry
5  Michael

finding names which begin and end with consonant. we use '^' : string start and '$' : string end :

In [19]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

create slice of the all elements in array :

by native Python string operation :

In [21]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

by pandas method :

In [22]:
monte.str.slice(0, 3)

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

take second name :

In [25]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object